.card-body {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 5px 15px;
}

.result-container {
  margin-bottom: 20px;
}

.stats-item {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.card {
  border: none;
}

.card-img-top {
  border-radius: 25px;
  transition: box-shadow 0.1s linear;
  cursor: pointer;
}

.card-img-top:hover {
  box-shadow: 0 0 15px 5px #333333;
}

@media (min-width: 990px) {
  .card-body {
    padding: 10px 50px 5px 50px;
  }
}
